body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-color: black;
}

#hero::before {
    background-image: url("../images/IMG_1081.JPG");
    
    background-position-x: center;
    background-position-y: top;
    /* background-size: 150%; */
}

#hero {
    margin: 0;
    height: 100%;
    background-color: black;
}

#hero .content {
    justify-items: center; 
    align-content: start;
}

#hero .text-wrapper {
    margin-top: 5rem;
    width: 100%;
}

#hero h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 6rem;
} 

#hero h2 {
    color: var(--color-primary);
    text-align: center;
    margin: 1rem; 

    font-size: max(1.5vw, 2vh);
    /* font-weight: normal; */
    
    overflow: visible;
}

#about-info {
    height: 100%;
    
    justify-items: center; 
}

#about-info::before {
    position: absolute;

    height: 100%;
    width: 100%;

    content: "";

    background-image: url("../images/IMG_1031.JPG");
    background-size: 100%;
    background-position: center;
    z-index: -1;

    filter: blur(4px) brightness(0.75);
}

#betweener {
    background-color: black;
    margin: 0;
}

#betweener h1 {
    text-align: center;
    color: var(--color-primary);
    font-size: min(20vw, var(--h1-responsive));

    margin: 1rem;
}

.tabs {
    margin: 4rem;
}

.tab-section {
    align-items: center;
}

.tab-section p {
    padding-left: 1rem;
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

.tab-left {
    /* transform: translate() */
    /* animation: slideInLeft 0.5s ease-in-out; */

    /* opacity: 0; */
}

.tab-right {
    /* transform: translate(-50%, -50%); */
    /* animation: slideInLeft 0.5s ease-in-out; */
}

.container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #000000;
}

.blurred-image {


    filter: blur(6px) brightness(0.5);
    width: 100%;
    height: 1150px;
    object-fit: cover;
    background-color: #000000;
}
/* 
.text {
    position: absolute;
    top: 4.5%;
    left: 23.5%;
    transform: translate(-50%, -50%);
    font-size: 155px;
    font-weight: bold;
    color: #be82d9;
    font-family:'Arial Black', Gadget, sans-serif;
    animation: slideUp 1s forwards;
} */

.text2 {
    position: absolute;
    top: 23%;
    left: 5%;
    right: 5%;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slide-in 1s forwards;
}

.text3 {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slide-in1 1s forwards;
}

#comet-cat {
    max-width: 60vw; 
    margin: 0;
}

/* .comet-cat {
    position: absolute; 
    top: 53%; 
    left: 38%; 
    width: 400px; 
    height: auto; 
    color: hsl(270, 100%, 10%);
    filter: brightness(150%);
    animation: fadeIn 1s forwards;
} */







.container2 {
    position: relative;
    text-align: center;
    color: white;
    background-color: #000000;
}

.blurred-image2 {
    filter: blur(4px) brightness(0.35);
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #000000;
}

.text4 {
    position: absolute;
    top: -220px;
    left: 19.5%;
    font-size: 135px;
    font-weight: bold;
    color: #be82d9;
    font-family:"Oswald", sans-serif;
    animation: slideUp 1s forwards;
}

.tab-section {
    display: inline-flex;

    
}

.tab-pic {
    height: 10lh;
    /* max-width: 25vw; */
    border-radius: 20%;

}

/* @keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
} */

@media screen and (max-width: 800px) {
    #about-info::before {
        visibility: hidden;
    }

    .tab-section {
        display: flex;
        flex-direction: column;

        margin-bottom: 2rem;
    }

    .tab-section p {
        font-size: 0.9rem;
    }

    .tab-section img {
        border-radius: 1rem;
        height: auto;
        width: 90vw;
    }

    .tab-right img {
        order: 1;
    }

    .tab-right p {
        order: 2;
    }
}

@media screen and (max-width: 880px) {
    #hero {
        max-height: 100000vw;
    }
}

.pic1 { 
    position: absolute;
    top: 135%;  
    left: 5%; 
    width: 525px; 
    height: auto; 
    border-radius: 20%;
    animation: fadeIn 2s forwards;
}


.text5 {
    position: absolute;
    top: 140%;  
    left: 37%;
    right: 3%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}



.pic2 { 
    position: absolute;
    top: 180%; 
    left: 67.5%;
    width: 525px; 
    height: auto; 
    border-radius: 20%;
    animation: fadeIn 2s forwards;
}

.text6 {
    position: absolute;
    top: 185%;  
    left: 3%;
    right: 33%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in1 2s forwards;
}

.pic3 { 
    position: absolute;
    top: 225%;
    width: 525px; 
    height: auto; 
    border-radius: 20%;
    left: 3%;
    animation: fadeIn 2s forwards;
}

.text7 {
    position: absolute;
    top: 230%;  
    left: 36%;
    right: 2%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.blurred-image3 
{
    position: absolute;
    filter: blur(6px) brightness(0.5);
    width: 100%;
    height: 1150px;
    object-fit: cover;
    background-color: #000000;
}

.search-container 
{
    display: flex;
    font-size: 500px;
}

.search-bar 
{
    position: absolute;
    top: 276%;
    width: 600px;
    font-size: 25px;
    padding: 10px;
    animation: slide-in1 2s forwards;
    border: 2px solid #6a0dad; 
    border-radius: 5px;
    background-color: #f3e5f5; 
    color: #6a0dad; 
    outline: none;
    left: 57.5%
}

.search-bar::placeholder 
{
    color: #6a0dad;
}

/* .text8 {   
    position: flex;
    color:  #be82d9;
    font-size: 7.5rem;
    font-weight: bold;
    font-family:'Arial Black', Gadget, sans-serif;
    animation: slideUp 2s forwards;
    margin-top: 15rem;
     text-align: center; }*/



.filler-backround
{
    filter: blur(6px) brightness(0.5);
    width: 100%;
    height: 3000px;
    object-fit: cover;
    background-color: #000000;
}

#lead-display  {
    display: flex;
    flex-wrap: wrap;
}


.purple-box {
    display: flex;
    flex-direction: column;
    /* max-width: 16vw; */
    min-width: 29%;
    height: clamp(20vh,44vh,50vh);
    background-color: #6a0dad; 
    color: white;
    border-radius: 10px;
    align-content:center;
    text-align: center;

    margin: 2.27rem;
    align-items: center;  
 
}

.purple-box img {
    display:flex;
    width: 14.25vw;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 20%;
    margin-top: 2rem;
    /* margin: 3rem; */
}

.textName {
    font-weight: bold;
    font-size: 3vw;

}




/* .purple-box1 { 
    position: absolute;
    top: 290%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 40%;
}

.pic5 { 
    position: absolute;
    top: 297.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 41.5%;
    animation: fadeIn 2s forwards;
}

.textName1 {
    position: absolute;
    top:327.5%;  
    left: 46%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio1 {
    position: absolute;
    top: 333.5%;  
    left: 46%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box2 {
    position: absolute;
    top: 290%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 70%;
}

.pic6 { 
    position: absolute;
    top: 297.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 71.5%;
    animation: fadeIn 2s forwards;
}

.textName2 {
    position: absolute;
    top:327.5%;  
    left: 76%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio2 {
    position: absolute;
    top: 333.5%;  
    left: 76%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box3 {
    position: absolute;
    top: 360%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 10%;
}

.pic7 { 
    position: absolute;
    top: 367.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 11.5%;
    animation: fadeIn 2s forwards;
}

.textName3 {
    position: absolute;
    top:397.5%;  
    left: 16%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio3 {
    position: absolute;
    top: 403.5%;  
    left: 16%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box4 {
    position: absolute;
    top: 360%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 40%;
}

.pic8 { 
    position: absolute;
    top: 367.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 41.5%;
    animation: fadeIn 2s forwards;
}

.textName4 {
    position: absolute;
    top:397.5%;  
    left: 46%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio4 {
    position: absolute;
    top: 403.5%;  
    left: 46%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}


.purple-box5 {
    position: absolute;
    top: 360%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 70%;
}

.pic9 { 
    position: absolute;
    top: 367.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 71.5%;
    animation: fadeIn 2s forwards;
}

.textName5 {
    position: absolute;
    top:397.5%;  
    left: 76%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio5 {
    position: absolute;
    top: 403.5%;  
    left: 76%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box6 {
    position: absolute;
    top: 430%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 10%;
}

.pic10 { 
    position: absolute;
    top: 437.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 11.5%;
    animation: fadeIn 2s forwards;
}

.textName6 {
    position: absolute;
    top: 467.5%;  
    left: 16%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio6 {
    position: absolute;
    top: 473.5%;  
    left: 16%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box7 {
    position: absolute;
    top: 430%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 70%;
}

.pic11 { 
    position: absolute;
    top: 437.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 71.5%;
    animation: fadeIn 2s forwards;
}

.textName7 {
    position: absolute;
    top: 467.5%;  
    left: 76%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio7 {
    position: absolute;
    top: 473.5%;  
    left: 76%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box8 {
    position: absolute;
    top: 430%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 40%;
}

.pic12 { 
    position: absolute;
    top: 437.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 41.5%;
    animation: fadeIn 2s forwards;
}

.textName8 {
    position: absolute;
    top: 467.5%;  
    left: 46%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio8 {
    position: absolute;
    top: 473.5%;  
    left: 46%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box9 {
    position: absolute;
    top: 500%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 10%;
}

.pic13 { 
    position: absolute;
    top: 507.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 11.5%;
    animation: fadeIn 2s forwards;
}

.textName9 {
    position: absolute;
    top: 537.5%;  
    left: 16%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio9 {
    position: absolute;
    top: 543.5%;  
    left: 16%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box10 {
    position: absolute;
    top: 500%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 40%;
}

.pic14 { 
    position: absolute;
    top: 507.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 41.5%;
    animation: fadeIn 2s forwards;
}

.textName10 {
    position: absolute;
    top: 537.5%;  
    left: 46%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio10 {
    position: absolute;
    top: 543.5%;  
    left: 46%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box11 {
    position: absolute;
    top: 500%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 70%;
}

.pic15 { 
    position: absolute;
    top: 507.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 71.5%;
    animation: fadeIn 2s forwards;
}

.textName11 {
    position: absolute;
    top: 537.5%;  
    left: 76%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio11 {
    position: absolute;
    top: 543.5%;  
    left: 76%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}

.purple-box12 {
    position: absolute;
    top: 570%;
    width: 350px;
    height: 500px;
    background-color: #6a0dad; 
    margin: 50px auto;
    display: flex;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    left: 40%;
}

.pic16 { 
    position: absolute;
    top: 577.5%;
    width: 300px; 
    height: 250px; 
    border-radius: 20%;
    left: 41.5%;
    animation: fadeIn 2s forwards;
}

.textName12 {
    position: absolute;
    top: 607.5%;  
    left: 46%;
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
    
}

.textBio12 {
    position: absolute;
    top: 613.5%;  
    left: 46%;
    color: white;
    font-size: 20px;
    line-height: 60px;
    font-family:'Orbitron', sans-serif;
    animation: slide-in 2s forwards;
}


@keyframes slide-in { 
    from { transform: translateX(-100%); opacity: 0; } 
    to { transform: translateX(0); opacity: 1; } 
}

@keyframes slide-in1 { 
    from { transform: translateX(100%); opacity: 0; } 
    to { transform: translateX(0); opacity: 1; } 
}

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}

@keyframes slideUp { 
    from { transform: translateY(100%); } 
    to { transform: translateY(0); } 
}
*/
