        .container {
            position: relative;
            text-align: center;
            color: white;
            background-color: #000000;
        }

        .blurred-image {
            filter: blur(6px) brightness(0.5);
            object-fit: cover;
            background-color: #000000;
            max-width: 100%;
            display: block;
          }

        .text {
            position:absolute;
            top:5%;
            right:10%;
            left: 10%;
            font-size: 10vw;
            font-weight: bold;
            color: #be82d9;
            font-family:'Arial Black', Gadget, sans-serif;
            animation: slideUp 1s forwards;
        }

        .text2 {
            position: absolute;
            width: auto;
            top: 25%;
            left: 3%;
            right: 3%;
            font-size:1.55vw;
            font-weight: bold;
            color: #ffffff;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            animation: slide-in 1s forwards;
        }

        .text3 {
            position: absolute;
            overflow: hidden; 
            top: 40%;
            left: 3%;
            right: 3%;
            font-size: 1.55vw;
            font-weight: bold;
            color: #ffffff;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            animation: slide-in1 1s forwards;
        }

        .Comet-cat {
            position: absolute; 
            top: 55%; 
            left: 37%; 
            width: 25vw; 
            height: auto; 
            color: hsl(270, 100%, 10%);
            filter: brightness(150%);
            animation: fadeIn 1s forwards;
        }

        body{
    margin:0;
    padding:0;
    overflow-x: hidden;
        }
    
        




        .container2 {
            position: relative;
            text-align: center;
            color: white;
            background-color: #000000;
        }

        .blurred-image2 {
            filter: blur(4px) brightness(0.35);
            width: 100%;
            height: auto;
            object-fit: cover;
            background-color: #000000;
        }

        .text4 {
            position: absolute;
            top: -220px;
            left: 19.5%;
            font-size: 7.7vw;
            font-weight: bold;
            color: #be82d9;
            font-family:'Arial Black', Gadget, sans-serif;
            animation: slideUp 1s forwards;
        }
     
        .pic1 { 
            position: absolute;
            top: 135%;  
            left: 5%; 
            width: 525px; 
            height: auto; 
            border-radius: 20%;
            animation: fadeIn 2s forwards;
        }

        
        .text5 {
            position: absolute;
            top: 140%;  
            left: 37%;
            right: 3%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }



        .pic2 { 
            position: absolute;
            top: 180%; 
            left: 67.5%;
            width: 525px; 
            height: auto; 
            border-radius: 20%;
            animation: fadeIn 2s forwards;
        }

        .text6 {
            position: absolute;
            top: 185%;  
            left: 3%;
            right: 33%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in1 2s forwards;
        }

        .pic3 { 
            position: absolute;
            top: 225%;
            width: 525px; 
            height: auto; 
            border-radius: 20%;
            left: 3%;
            animation: fadeIn 2s forwards;
        }

        .text7 {
            position: absolute;
            top: 230%;  
            left: 36%;
            right: 2%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .blurred-image3 
        {
            filter: blur(6px) brightness(0.5);
            width: 100%;
            height: auto;
            object-fit: cover;
            background-color: #000000;
        }
        
        .search-container 
        {
            display: flex;
            font-size: 500px;
        }
        
        .search-bar 
        {
            position: absolute;
            top: 276%;
            width: 600px;
            font-size: 25px;
            padding: 10px;
            animation: slide-in1 2s forwards;
            border: 2px solid #6a0dad; 
            border-radius: 5px;
            background-color: #f3e5f5; 
            color: #6a0dad; 
            outline: none;
            left: 57.5%
        }

        .search-bar::placeholder 
        {
            color: #6a0dad;
        }

        .text8 {
            position: absolute;
            top: 270%;  
            position: center;
            left: 5%;
            color:  #be82d9;
            font-size: 90px;
            line-height: 135px;
            font-weight: bold;
            font-family:'Arial Black', Gadget, sans-serif;
            animation: slideUp 2s forwards;
        }

        .filler-backround
        {
            filter: blur(6px) brightness(0.5);
            width: 100%;
            height: 3000px;
            object-fit: cover;
            background-color: #000000;
        }

        .purple-box {
            position: absolute;
            top: 290%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 10%;
        }

        .pic4 { 
            position: absolute;
            top: 297.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 11.5%;
            animation: fadeIn 2s forwards;
        }

        .textName {
            position: absolute;
            top:327.5%;  
            left: 14.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio {
            position: absolute;
            top: 333.5%;  
            left: 16%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }



        .purple-box1 {
            position: absolute;
            top: 290%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 40%;
        }

        .pic5 { 
            position: absolute;
            top: 297.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 41.5%;
            animation: fadeIn 2s forwards;
        }

        .textName1 {
            position: absolute;
            top:327.5%;  
            left: 46.75%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio1 {
            position: absolute;
            top: 333.5%;  
            left: 46%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box2 {
            position: absolute;
            top: 290%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 70%;
        }

        .pic6 { 
            position: absolute;
            top: 297.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 71.5%;
            animation: fadeIn 2s forwards;
        }

        .textName2 {
            position: absolute;
            top:327.5%;  
            left: 76.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio2 {
            position: absolute;
            top: 333.5%;  
            left: 76%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box3 {
            position: absolute;
            top: 360%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 10%;
        }

        .pic7 { 
            position: absolute;
            top: 367.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 11.5%;
            animation: fadeIn 2s forwards;
        }

        .textName3 {
            position: absolute;
            top:397.5%;  
            left: 16.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio3 {
            position: absolute;
            top: 403.5%;  
            left: 16%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box4 {
            position: absolute;
            top: 360%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 40%;
        }

        .pic8 { 
            position: absolute;
            top: 367.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 41.5%;
            animation: fadeIn 2s forwards;
        }

        .textName4 {
            position: absolute;
            top:397.5%;  
            left: 44%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio4 {
            position: absolute;
            top: 403.5%;  
            left: 46%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }


        .purple-box5 {
            position: absolute;
            top: 360%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 70%;
        }

        .pic9 { 
            position: absolute;
            top: 367.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 71.5%;
            animation: fadeIn 2s forwards;
        }

        .textName5 {
            position: absolute;
            top:397.5%;  
            left: 74.25%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio5 {
            position: absolute;
            top: 403.5%;  
            left: 76%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box6 {
            position: absolute;
            top: 430%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 10%;
        }

        .pic10 { 
            position: absolute;
            top: 437.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 11.5%;
            animation: fadeIn 2s forwards;
        }

        .textName6 {
            position: absolute;
            top: 467.5%;  
            left: 16%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio6 {
            position: absolute;
            top: 473.5%;  
            left: 16%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box7 {
            position: absolute;
            top: 430%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 70%;
        }

        .pic11 { 
            position: absolute;
            top: 437.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 71.5%;
            animation: fadeIn 2s forwards;
        }

        .textName7 {
            position: absolute;
            top: 467.5%;  
            left: 75.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio7 {
            position: absolute;
            top: 473.5%;  
            left: 76%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box8 {
            position: absolute;
            top: 430%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 40%;
        }

        .pic12 { 
            position: absolute;
            top: 437.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 41.5%;
            animation: fadeIn 2s forwards;
        }

        .textName8 {
            position: absolute;
            top: 467.5%;  
            left: 44.50%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio8 {
            position: absolute;
            top: 473.5%;  
            left: 46%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box9 {
            position: absolute;
            top: 500%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 10%;
        }

        .pic13 { 
            position: absolute;
            top: 507.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 11.5%;
            animation: fadeIn 2s forwards;
        }

        .textName9 {
            position: absolute;
            top: 537.5%;  
            left: 14.25%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio9 {
            position: absolute;
            top: 543.5%;  
            left: 16%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box10 {
            position: absolute;
            top: 500%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 40%;
        }

        .pic14 { 
            position: absolute;
            top: 507.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 41.5%;
            animation: fadeIn 2s forwards;
        }

        .textName10 {
            position: absolute;
            top: 537.5%;  
            left: 45.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio10 {
            position: absolute;
            top: 543.5%;  
            left: 46%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box11 {
            position: absolute;
            top: 500%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 70%;
        }

        .pic15 { 
            position: absolute;
            top: 507.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 71.5%;
            animation: fadeIn 2s forwards;
        }

        .textName11 {
            position: absolute;
            top: 537.5%;  
            left: 77.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio11 {
            position: absolute;
            top: 543.5%;  
            left: 76%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }

        .purple-box12 {
            position: absolute;
            top: 570%;
            width: 350px;
            height: 500px;
            background-color: #6a0dad; 
            margin: 50px auto;
            display: flex;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            left: 40%;
        }

        .pic16 { 
            position: absolute;
            top: 577.5%;
            width: 300px; 
            height: 250px; 
            border-radius: 20%;
            left: 41.5%;
            animation: fadeIn 2s forwards;
        }

        .textName12 {
            position: absolute;
            top: 607.5%;  
            left: 44.5%;
            color: white;
            font-size: 45px;
            line-height: 60px;
            font-weight: bold;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;

        }

        .textBio12 {
            position: absolute;
            top: 613.5%;  
            left: 46.5%;
            color: white;
            font-size: 20px;
            line-height: 60px;
            font-family:'Orbitron', sans-serif;
            animation: slide-in 2s forwards;
        }
        

        @keyframes slide-in { 
            from { transform: translateX(-100%); opacity: 0; } 
            to { transform: translateX(0); opacity: 1; } 
        }

        @keyframes slide-in1 { 
            from { transform: translateX(100%); opacity: 0; } 
            to { transform: translateX(0); opacity: 1; } 
        }

        @keyframes fadeIn { 
            from { opacity: 0; } 
            to { opacity: 1; } 
        }

        @keyframes slideUp { 
            from { transform: translateY(100%); } 
            to { transform: translateY(0); } 
        }

        @media (min-width:320px) and (max-width:425px) {
            .blurred-image {
              max-width: 200%;
              padding: 0%;
              position: none; margin: 0 ;
            }

            .text {
                position:absolute;
                top:5%;
                right:10%;
                left: 10%;
                max-width: 100%;
                font-size: 20vw;
                font-weight: bold;
                color: #be82d9;
                font-family:'Arial Black', Gadget, sans-serif;
                animation: slideUp 1s forwards;
            }
          }




