.transition {
    height: 5rem;
    background-color: black;
    border-bottom: solid 1rem var(--color-primary);
    border-radius: 30%;
}


.form-container {
    margin: 3rem 1rem 5rem;
    color: white;
}

.form-container p {
    text-align: center;
    font-size: 1.2rem;
}