#footer {
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2ex;
    margin-bottom: 2ex;
}

#footer #logo {
    margin-left: auto;
    margin-right: auto;
}

#footer #logo img{
    width: 10ex;
    padding-top: 0.5ex;
    filter: invert();
    font-size: 4ex;
}

#footer #socials {
    margin: auto;
    display: flex;
}

#footer #socials a {
    color: white;
    margin: 0 1ex;
    font-size: 4ex;
}

#footer #text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ex;
    margin-bottom: 2ex;
}

#footer #text a {
    color: white;
    text-decoration: none;
    font-size: 2ex;
    margin: 1ex 1ex;
    transition: all 0.4s;
}

#footer #text a:hover, #footer #socials a:hover {
    color: var(--primary);
}