.lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
  
#community
{
    width: 100%;
}

.triangle
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 130vh;  
}
.triangle canvas 
{
    position: absolute;
    z-index: -1;
    background-color: var(--color-accent);
}

.right-top {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 7rem 3rem;
    color: white;
    text-align: right;
}
.right-top p {
    margin: 1.3rem 1rem 0 0;
    font-size: 1.4rem;
    font-weight: bold;
}



.image-container
{
    padding: 8ex 0 0 0;
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
}

.left
{
    background-color: var(--color-bg-primary);
    color: var(--color-bg-second);
    grid-column: 1/2;
}

.landing
{
    background-color: var(--color-bg-second);
    /*
    padding: 5rem 0 1rem 0rem;
    */
    padding: 1.5rem;
    margin: 2rem;
    text-align: center;
    /*
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    */
    box-shadow: 0 3px 5px var(--color-bg-second);
    border-top-right-radius: 20%; 
    border-bottom-right-radius: 20%;
}
.flashy 
{
    /*font-family: "Lavishly Yours";*/
    font-size: 7rem;
    color: var(--color-accent);
}

.text
{
    color: var(--color-bg-second);
    margin: 5rem 2rem 1rem;
}
.text p
{
    font-size: 1rem;
    margin: 2rem 0;
}

@media screen and (max-width: 800px)
{
    .container 
    {
        display: flex;
        flex-direction: column;
    }
    .text
    {
        visibility: hidden;
        opacity: 0;
    }
}

.right
{
    width: 100%;
    background-color: var(--color-bg-primary);
    columns: 300px;
}

.right img
{
    width: 100%;
    margin-bottom: 1rem;
}