#nav_bar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: grid;
}

#nav_bar #bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
    
    transition: all 0.4s ease-in-out;
}

#nav_bar #logo {
    padding: 0 .5rem 0 .5rem;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width: 600px) {
    /* #nav_bar #logo {
        margin-left: 3ex;
    } */

    /* #nav_bar #logo img {
        width: 5ex;
    } */

    #nav_bar #logo {
        visibility: hidden;
    }
}

#nav_bar #logo img{
    width: 10ex;
    padding-top: 0.5ex;
    filter: invert();
}

.button-wrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 2ex;
}

#nav_bar .button-wrapper .button, .dropdown-button {
    
    padding: 1.5rem min(1.5rem, 1.5vw) 1.5rem min(1.5rem, 1.5vw);
    max-width: 25vw;

    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;

    align-content: center;

    cursor: pointer;
}

#nav_bar .button:hover, .dropdown:hover .dropdown-button {
    background-color: var(--color-accent);
    color: var(--color-bg-primary);
}

#nav_bar .dropdown-button {
    display: flex;
    align-items: center;
}

.dropdown-icon {
    margin-left: 1ex;
}

#nav_bar .dropdown-content:hover, .dropdown-button:hover + .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 1s;
}

#nav_bar .dropdown-content a {
    color: var(--color-bg-primary);
    padding: 2ex 2ex;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav_bar .dropdown-content a:hover {
    background-color: #888787;
}

.dropdown-button a {
    color: white;
    text-decoration: none;
}






